/* Contact.css */

.contact {
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure nothing overflows the container */
  }
  
  .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/jesus.png"); /* Background image */
    background-size: cover; /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
    filter: brightness(0.45); /* Reduce brightness to darken the background image */
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  .contact .leftSide, .contact .rightSide {
    position: relative; /* Ensure these elements are above the pseudo-element */
    width: 100%;
    padding: 20px;
  }
  
  .contact .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
  }
  

  .contact-form {
    height: auto; /* Adjust the height if necessary */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 10px;
    margin-right: 0px;
    padding-bottom: 20px;

}

.background-img {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: auto;
    background-position: center;
    /* Center the background image */
    filter: brightness(0.4);
}

.form-container input[type="text"],
.form-container input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.form-group textarea {
    width: 100%;
    height: 150px;
    /* Adjust the height as needed */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    /* Allow vertical resizing */
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

textarea:focus {
    border-color: #007bff;
    /* Change border color on focus */
    outline: none;
    /* Remove default focus outline */
}

.form-container button {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #fff;
    color: #000;
}

.name-field {
    margin-right: 20px;
    /* Adjust the spacing between fields */
}

.h2t {
    color: #fff;
    text-align: center;
}


@media (min-width: 600px) {
    .contact {
      flex-direction: row;
    }
  
    .contact .leftSide, .contact .rightSide {
      width: 50%;
    }
  
    .name-container {
      flex-direction: row;
    }
  }
  
  @media (min-width: 768px) {
    .hero-btns-contact button {
      padding: 15px 30px;
    }
  
    .contact .leftSide, .contact .rightSide {
      padding: 40px;
    }
  }
  
  @media (min-width: 992px) {
    .contact-form {
      height: 70vh; /* Adjust the height if necessary */
    }
  }
  