.background-container{
    background-size: cover;
    background-position: center;
}
.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;

  }
  
  .contact-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    height: 100px;;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  