/* Footer.css */

/* General styles */
/* General styles */
.footer-container {
  background-color: #242424;
  padding: 2rem 0;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Footer links */
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-link-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-link-items {
  margin: 0.5rem;
}

.footer-link-items h2 {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.25rem;
}


/* Website rights */
.website-rights {
  margin-bottom: 1rem;
}

/* Social media and contact info */
.social-media-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item {
  margin: 5px 0;
}

.about-us-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.about-us-link:hover {
  color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-link-items {
    margin: 10px 0;
  }
}