/* Footer.css */

/* General styles */
.footer-container {
  background-color: #242424;
  padding: 2rem 0;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.footer-links {
  margin-bottom: 1rem;
}

.about-us-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.about-us-link:hover {
  color: #0056b3;
}

/* Topbar styling */
.topbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.topbar li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 8px;
}

.contact-info {
  color: #fff;
  font-size: 1rem;
}

/* Footer credits */
.footer-credits {
  margin-top: 1rem;
}

.copyright-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.linkedin-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.linkedin-link:hover {
  color: #007bff;
}

.linkedin-icon {
  font-size: 1.5rem;
  margin-right: 8px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .about-us-link {
    font-size: 14px;
  }

  .topbar li {
    margin: 5px 0;
  }

  .footer-credits .credit-item {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .linkedin-link {
    font-size: 0.9rem;
  }

  .linkedin-icon {
    font-size: 1.2rem;
  }
}
