/* Default styles for video */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  filter: brightness(0.35);
  /* Adjust the brightness value as needed */
}



/* Styles for hero container */
.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  /* Added padding for better alignment on smaller screens */
}

/* Styles for heading */
.hero-container>h1 {
  color: #fff;
  font-size: 4vw;
  /* Responsive font size based on viewport width */
  margin-top: -8vh;
  /* Adjusted margin for better centering */
}

/* Styles for paragraph */
.hero-container>p {
  margin-top: 2vh;
  /* Adjusted margin for better spacing */
  color: #fff;
  font-size: 2vw;
  /* Responsive font size based on viewport width */
}

/* Styles for buttons container */
.hero-btns {
  margin-top: 4vh;
  /* Adjusted margin for better spacing */
  display: flex;
  flex-wrap: wrap;
  /* Allow buttons to wrap on smaller screens */
  justify-content: center;
  /* Center align buttons */
}

/* Styles for individual button */
.hero-btns .btn {
  margin: 10px;
  /* Increased margin for better spacing */
  border-radius: 10px;
  padding: 10px 20px;
  /* Increased padding for better touch target */
}

/* Styles for play button icon */
.fa-play-circle {
  margin-left: 4px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

  /* Adjust heading size and margin-top for small screens */
  .hero-container>h1 {
    font-size: 8vw;
    /* Responsive font size based on viewport width */
    margin-top: -10vh;
    /* Adjusted margin for better centering */
  }

  /* Adjust paragraph size for small screens */
  .hero-container>p {
    font-size: 3vw;
    /* Responsive font size based on viewport width */
  }

  /* Decrease margin-top for buttons on smaller screens */
  .hero-btns {
    margin-top: 2vh;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

}

@media screen and (max-width: 480px) {

  /* Adjust heading size and margin-top for extra small screens */
  .hero-container>h1 {
    font-size: 10vw;
    /* Responsive font size based on viewport width */
    margin-top: -12vh;
    /* Adjusted margin for better centering */
  }

  /* Adjust paragraph size for extra small screens */
  .hero-container>p {
    font-size: 4vw;
    /* Responsive font size based on viewport width */
  }

  /* Decrease margin-top for buttons on extra small screens */
  .hero-btns {
    margin-top: 1vh;
  }
}


@media screen and (max-width: 960px) {
  .hero-container>h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}