.mypage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  display: flex; /* Add display flex */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
}

.header-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.header-description {
  font-size: 18px;
  color: #666;
}

/* Set maximum width for the gallery container */
.gallery {
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snap scrolling along the x-axis */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  margin-bottom: 20px;
  max-width: 100%; /* Set maximum width to prevent overflow */
}

/* Set fixed dimensions for gallery images */
.gallery-image {
  width: 200px; /* Set a fixed width for each image */
  height: 200px; /* Set a fixed height for each image */
  border-radius: 8px;
  margin-right: 10px; /* Add some space between images */
}

/* Ensure smooth scrolling on all devices */
@media screen and (max-width: 600px) {
  .gallery-image {
    width: 150px; /* Adjust width for smaller screens */
    height: 150px; /* Adjust height for smaller screens */
  }
}

.description {
  /* font-size: 16px; */
  line-height: 1.5;
}

/* New styles for the content section */
.content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.content h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

.content p, .content ul {
  margin-bottom: 20px;
  text-align: left;

}

.content ul {
  padding-left: 20px;
}

.content li {
  margin-bottom: 10px;
}

.content-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.custom-icon-size {
  font-size: 2rem; /* Adjust this value as needed */
  color: #1e90ff; /* Set the initial color (DodgerBlue in this case) */
  cursor: pointer; /* Change the cursor to a pointer when hovering */
}

.custom-icon-size:hover {
  color: #ff4500; /* Change to the desired hover color (OrangeRed in this case) */
}

@media (max-width: 640px) {
  .custom-icon-size {
    font-size: 2rem; /* Adjust for smaller screens */
  }
}



/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .content h2 {
    font-size: 20px;
  }

  .content p, .content ul {
    margin-bottom: 15px;
  }

  .content li {
    margin-bottom: 8px;
  }

  .content-image {
    margin-bottom: 15px;
  }
}
