.mypage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  display: flex; /* Add display flex */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
}

.header-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.header-description {
  font-size: 18px;
  color: #666;
}

/* Gallery styles */
.gallery {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Ensure smooth scrolling on all devices */
@media screen and (max-width: 600px) {
  .gallery-image {
    width: 150px; /* Adjust width for smaller screens */
    height: 150px; /* Adjust height for smaller screens */
  }
}

.description {
  /* font-size: 16px; */
  line-height: 1.5;
}

/* New styles for the content section */
.content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.content h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

.content p, .content ul {
  margin-bottom: 20px;
  text-align: left;

}

.content ul {
  padding-left: 20px;
}

.content li {
  margin-bottom: 10px;
}

.content-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.custom-icon-size {
  font-size: 2rem; /* Adjust this value as needed */
  color: #1e90ff; /* Set the initial color (DodgerBlue in this case) */
  cursor: pointer; /* Change the cursor to a pointer when hovering */
}

.custom-icon-size:hover {
  color: #ff4500; /* Change to the desired hover color (OrangeRed in this case) */
}

@media (max-width: 640px) {
  .custom-icon-size {
    font-size: 2rem; /* Adjust for smaller screens */
  }
}



/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .content h2 {
    font-size: 20px;
  }

  .content p, .content ul {
    margin-bottom: 15px;
  }

  .content li {
    margin-bottom: 8px;
  }

  .content-image {
    margin-bottom: 15px;
  }
}
