/* Main container styles */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.left-side,
.right-side {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Title styles */
.title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form styles */
.candle-form {
  max-width: 100%;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.name-container {
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.country-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* PayPal buttons container styles */
.paypal-buttons-container {
  margin-bottom: 20px;
}

/* PayPal card styles */
.paypal-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  box-sizing: border-box;
}

/* Alert message styles */
.ms-alert {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
}

.ms-close {
  float: right;
  cursor: pointer;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .container {
      flex-direction: row;
  }

  .left-side,
  .right-side {
      flex: 1;
      padding: 20px;
  }

  .name-container {
      flex-direction: row;
      justify-content: space-between;
  }

  .form-control {
      width: calc(50% - 10px);
  }

  .name-container .form-control:first-child {
      margin-right: 10px;
  }

  .name-container .form-control:last-child {
      margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .payal-card {
      padding: 30px;
  }
}

@media (min-width: 992px) {
  .payal-card {
      padding: 40px;
  }
}
