.product-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-container {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.cart-link-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #242424;
  font-size: 24px; /* Adjust the font size as needed */
  padding: 5px; /* Adjust the padding as needed */
}


.cart-link:hover {
  color: rgba(255,0,0,0.5);
}

.cart-item-count {
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.product-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-image {
  max-width: 300px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.description {
  padding: 0 120px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.add-to-cart-button {
  background-color: #242424;
  /* Green background color */
  color: #fff;
  /* White text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* Increased padding for better visual */
  cursor: pointer;
  transition: background-color 0.3s;
  /* Smooth transition for hover effect */
}

.add-to-cart-button:hover {
  background-color: #000;
  color: #b6b6b6;
}

/* productPage.css */

.button-container {
  display: flex;
  align-items: center;
}

.back-button,
.cart-link-logo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.back-button i,
.cart-link-logo i {
  font-size: 20px;
}

.back-button:hover,
.cart-link-logo:hover {
  color: red; /* Change color on hover */
}

/* productPage.css */

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

/* productPage.css */

.product-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .cart-container {
    top: 10px;
    right: 10px;
  }

  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .description {
    padding: 0;
    text-align: center;
  }
}
