/* Shop Container */
.shop-page {
  max-width: auto;
  margin: 0 auto;
  padding: 20px; /* Adjust padding for smaller screens */  
  background-color: #1c1c1c3a;

}

.sorting-and-cart {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this to move items to opposite ends */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.sorting {
  margin-right: 20px;
  flex: 1;
}

.sorting label {
  margin-right: 5px;
}

.sorting select {
  padding: 5px;
  border-radius: 5px;
}

.price-filter {
  display: flex;
  align-items: center; /* Align items vertically */
  flex: 1;
}

.price-filter input[type="range"] {
  flex: 1; /* Take up remaining space */
  margin: 0 5px; /* Adjust spacing */
}

/* Products Container */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.products p {
  text-align: center;
}

.product p {
  text-align: center;
}

/* Product */
.product {
  background-color: #1c1c1c1a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Ensure pagination wraps on smaller screens */
  justify-content: center;
  align-items: center;
}

/* Pagination Button */
.pagination button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #242424;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Pagination Button Hover */
.pagination button:hover {
  background-color: #000;
  color: #b6b6b6;
}

/* Pagination Text */
.pagination-text {
  margin: 5px 20px; /* Adjust margin for smaller screens */
  font-size: 16px;
  color: #333;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .shop {
    padding: 10px;
  }

  .sorting-and-cart {
    flex-direction: column;
    align-items: flex-start;
  }

  .sorting,
  .price-filter {
    width: 100%;
    margin-bottom: 10px;
  }

  .sorting select,
  .price-filter input[type="range"] {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cart-logo {
    font-size: 20px; /* Reduce font size for smaller screens */
  }

  .search input {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .pagination button {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
  }

  .pagination-text {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .sorting select {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .price-input {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .product img {
    height: 200px;
  }
}

@media screen and (max-width: 576px) {
  .pagination button {
    padding: 6px 12px; /* Adjust button padding for smaller screens */
  }

  .pagination-text {
    font-size: 12px; /* Reduce font size for smaller screens */
  }

  .sorting select,
  .price-filter input[type="range"] {
    font-size: 12px; /* Reduce font size for smaller screens */
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .product img {
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .products {
    grid-template-columns: 1fr; /* One product per row on very small screens */
  }

  .product img {
    height: auto;
  }
}
