/* Shop Container */
.shop-page {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c1c1c3a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Filter */
.header-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* Text Input */
.header-filter input[type="text"] {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #000;
}

/* Sort */
.sort {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 8px;
  margin-left: auto; /* Pushes the sort filter to the right */
}

/* Sort Label */
.sort label {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

/* Sort Select */
.sort select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #555;
  color: #e0e0e0;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto; /* Pushes the sort filter to the right */
}

.sort select option {
  background-color: #1c1c1c;
  color: #e0e0e0;
}

.sort select:focus {
  outline: none;
  border-color: #888;
  background-color: #444;
}

/* Products Container */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product {
  background-color: #1c1c1c1a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  padding: 15px;
  text-align: center;
}

/* No Products Message */
.no-products-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.no-products-message p {
  font-size: 30px;
  color: #000;
  margin: 0;
  padding: 80px;
  height: 100vh;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #666;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #555;
}

/* Responsive Styles */

/* Devices with a width of up to 1024px (e.g., smaller tablets) */
@media screen and (max-width: 1024px) {
  .header-filter {
    flex-direction: column;
  }

  .header-filter input[type="text"],
  .sort {
    width: 100%;
    margin-bottom: 10px;
  }

  .sort {
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* Devices with a width of up to 768px (e.g., large phones, small tablets) */
@media screen and (max-width: 768px) {
  .header-filter input[type="text"],
  .sort {
    font-size: 14px;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* Devices with a width of up to 576px (e.g., small phones) */
@media screen and (max-width: 576px) {
  .header-filter input[type="text"],
  .sort {
    font-size: 12px;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Devices with a width of up to 430px (e.g., smaller phones) */
@media screen and (max-width: 430px) {
  .header-filter input[type="text"],
  .sort {
    font-size: 12px;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/* Devices with a width of up to 390px (e.g., very small phones) */
@media screen and (max-width: 390px) {
  .header-filter input[type="text"],
  .sort {
    font-size: 10px;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
