/* Shop Container */
.shop {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; /* Adjust padding for smaller screens */
}

.sorting-and-cart {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this to move items to opposite ends */
}

.sorting {
  margin-right: 20px;
}

.sorting label {
  margin-right: 5px;
}

.sorting select {
  padding: 5px;
  border-radius: 5px;
}

.price-filter {
  display: flex;
  align-items: center; /* Align items vertically */
}

.price-filter input[type="range"] {
  flex: 1; /* Take up remaining space */
  margin: 0 5px; /* Adjust spacing */
}

/* Products Container */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Product */
.product {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Product Image */
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Ensure pagination wraps on smaller screens */
  justify-content: center;
  align-items: center;
}

/* Pagination Button */
.pagination button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #242424;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Pagination Button Hover */
.pagination button:hover {
  background-color: #000;
  color: #b6b6b6;
}

/* Pagination Text */
.pagination-text {
  margin: 5px 20px; /* Adjust margin for smaller screens */
  font-size: 16px;
  color: #333;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .cart-logo {
    font-size: 20px; /* Reduce font size for smaller screens */
  }

  .search input {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .pagination button {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
  }

  .pagination-text {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .sorting select {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .price-input {
    font-size: 14px; /* Reduce font size for smaller screens */
  }
}

